<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DoubleRobotics.iOS" version="0.1.1" targetFramework="xamarinios10" />
  <package id="DSLink" version="0.2.4-alpha" targetFramework="xamarinios10" />
  <package id="kphillpotts.Lamp.Plugin" version="1.0.0.1" targetFramework="xamarinios10" />
  <package id="MsgPack.Cli" version="0.6.8" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="4.0.2" targetFramework="xamarinios10" />
  <package id="Portable.BouncyCastle-Signed" version="1.7.0.2" targetFramework="xamarinios10" />
  <package id="Square.SocketRocket" version="0.5.0.0" targetFramework="xamarinios10" />
  <package id="Websockets.Pcl" version="1.1.9" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Xam.FormsPlugin.Iconize" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Battery" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Contacts" version="2.0.2-beta1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Ionicons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Messaging" version="3.2.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Notifier" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.TextToSpeech" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Vibrate" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.0.107" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.1.13" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.1.13" targetFramework="xamarinios10" />
</packages>